.container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  width: 160px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f2eefd;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.1rem;
  color: #9977ef;
  font-weight: 500;

  &:hover {
    background-color: #f7f4fd;
    transition: 300ms;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .container {
    margin-top: 2.5rem;
  }
  .card {
    width: 150px;
    height: 110px;
    gap: 1rem;
    border-radius: 0.5rem;

    .name {
      font-size: 1rem;
    }
  }
}

@media (max-width: 1000px) {
  .card {
    width: 140px;
    height: 100px;
    gap: 1rem;
    border-radius: 0.5rem;

    .name {
      font-size: 1rem;
    }
  }
}

@media (max-width: 800px) {
  .card {
    width: 90px;
    height: 65px;
    gap: 0.1rem;
    font-size: 0.7rem;
    padding: 0.5rem;
  }
  .container {
    margin-top: 1.5rem;
    gap: 0.45rem;
  }
}

@media (max-width: 600px) {
  .card {
    width: 45px;
    height: 40px;
    padding: 0.4rem;
    font-size: 0.45rem;
    gap: 0.1rem;
  }

  .container {
    padding: 0.5;
    margin-top: 0.5rem;
    gap: 0.3rem;
  }
}

@media (max-width: 420px) {
  .card {
    width: 35px;
    height: 28px;
    padding: 0.2rem;
    font-size: 0.3rem;
    gap: 0rem;
  }

  .container {
    padding: 0.5;
    margin-top: 1rem;
    gap: 0.2rem;
  }
}
