.title {
  color: $primary-color;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.categories {
  padding-bottom: 3.65rem;
}
@media (max-width: 800px) {
  .title {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }
}
