.rootContainer {
  background: linear-gradient(0deg, #d8d7da 0%, #ffffff 64%);
  padding: 4rem;  min-height: 100vh;
}

.authContainer {
  height: calc(100vh - 117px);
  background-color: #f9f8fe;
}
@media (max-width: 420px) {
  .rootContainer {
    padding: 2rem;
  }
}
