.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  border-bottom: 2px solid #f1f1f1;
}

.link {
  color: #323232;
  font-size: 1.2rem;
  font-weight: 500;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation {
  display: flex;
  gap: 1.5rem;
}
.rightSide {
  display: flex;
  align-items: center;
}

.avatarContainer {
  position: relative;
  display: inline-block;
}

.dropdownMenu {width: 9rem;font-weight: 700;font-size: 1rem;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 10px 0;
  border-radius: 4px;
}

.dropdownItem {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}
@media (max-width: 800px) {
  .navigation {
    gap: 0.5rem;
  }
  .link {
    font-size: 0.75rem;
  }
  .leftSide {
  
    gap:1.4rem;
  }
}
@media (max-width: 600px) {
  .navigation {
    display: none;
  }
  .topbar { 
    padding: 2rem 2rem;
  }
  img{
    width: 70%;
  }
}
@media (max-width: 420px) {
  .leftSide {
    gap:0.1rem;
  }
  .topbar { 
    padding: 2rem 1rem;
  }
  img{
    width: 56%;
  }
}