.button {
  padding: 0.75rem 1.25rem;
  background-color: $primary-color;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;

  &:hover {
    background-color: #5b24e7;
  }
}
.special {
  margin-top: 1.2rem;
  padding: 0 0 0 0rem;
  width: 4rem;
  height: 2.7rem;
}
.rounded {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
  font-weight: 700;
  width: 26rem;
  height: 3.2rem;
}
.status {
  color: rgb(173, 162, 162);
  font-weight: 800;
  background-color: rgb(243, 243, 243);
  &:hover {
    color: black;
    background-color: white;
  }
  &:active {
    color: black;
    background-color: white;
  }
}
.active {
  color: black;
  background-color: white;
}
.large {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.small {
  padding: 0.5rem 1rem;
}

@media (max-width: 1200px) {
  .rounded {
    width: 3.5rem;
    height: 3.5rem;
  }
}
@media (max-width: 1000px) {
  .button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.6rem;
  }
  .rounded {
    border-radius: 50%;
  }
  .large {
    padding: 0.75rem 1.25rem;
    border-radius: 7px;
    font-size: 0.8rem;
  }
}
@media (max-width: 800px) {
  .button {
    padding: 0.4rem 0.9rem;
    border-radius: 5px;
    font-size: 0.4rem;
  }
  .rounded {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }
  .large {
    padding: 0.75rem 1.25rem;
    border-radius: 7px;
    font-size: 0.6rem;
  }
}
@media (max-width: 600px) {
  .rounded {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
  }
  .large {
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    font-size: 0.5rem;
  }
}

@media (max-width: 420px) {
  .button {
    padding: 0.2rem 0.6rem;
    border-radius: 3px;
    font-size: 0.2rem;
  }
  .rounded {
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
  }
  .large {
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    font-size: 0.3rem;
  }
}
