.hero {
  padding-top: 2rem;
  text-align: center;
}

.title {
  font-size: 3.5rem;
  line-height: 5rem;
}

.primary {
  color: $primary-color;
}

.subtitle {
  color: #a8a8a8;
  font-size: 1.5rem;
  padding: 1rem;
}
.resultsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.searchContainer {
  display: flex;
  margin: 2rem auto;
  width: 30%;
  gap: 1rem;
}
.resultsList {
  width: 65rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
  padding-bottom: 2rem;
}
.resultItem {
  line-height: 1.6rem;
  padding-top: 1rem;
  strong {
    font-size: 1.1rem;
  }
}
.resultItem strong {
  color: $primary-color;
}
.pagination {
  padding-right: 8rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
}
.noResults {
  color: rgb(255, 64, 0);
}
@media (max-width: 800px) {
  .title {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .subtitle {
    font-size: 0.8rem;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  .hero {
    padding-top: 0.1rem;
  }
  .subtitle {
    font-size: 0.5rem;
  }
}
