.searchInput {
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  color: rgb(14, 14, 16);
  padding: 1.2rem;
  font-size: 1rem;
  border: 2px solid #dee1e2;
  border-radius: 30px;
  width: 29rem;
  height: 100%;
  font-size: 1.2rem;
  &:hover {
    border-color: #ccc;
  }
}

@media (max-width: 1450px) {
  .searchInput {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 30px;
    width: 25rem;
  }
}
@media (max-width: 1200px) {
  .searchInput {
    height: 3.5rem;
    width: 20rem;
  }
}
@media (max-width: 1000px) {
  .searchInput {
    width: 20rem;
  }
}
@media (max-width: 800px) {
  .searchInput {
    font-size: 0.8rem;
    height: 3rem; width: 17rem;
  }
}
@media (max-width: 600px) {
  .searchInput {
    font-size: 0.8rem;
    height: 2.5rem;width: 11rem;
  }
}
@media (max-width: 420px) {
  .searchInput {
    width: 150px;
    height: 30px;
    font-size: 0.6rem;
    height: 2rem;
  }
}
