.Service {
  text-align: center;
  max-width: 450px;
}
.barchart {
  width: 150%;
  height: 350px;
}
.options {
  margin: 20px 0;
}

.option {
  padding-left: 3rem;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2rem;
  gap: 1rem;
}

.addoption {
  display: none;
  padding-bottom: 2rem;
}

.addoption input {
  padding: 5px;
  margin-right: 10px;
}
.category {
  text-align: left;
  width: 80%;
  color: $primary-color;
  font-weight: 900;
  font-size: 1.2rem;
}

button {
  color: #ffffff;
  border-radius: 8px;
  border: none;
  padding: 0.4em 0.8em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:hover {
  background-color: #eaa00c;
}
.percent {
  font-weight: 900;
  font-size: 1rem;
  width: 20%;
}
.votes {
  font-weight: 900;
  font-size: 1rem;
  width: 20%;
}
.red {
  color: #f7230b;
}
.businessListPagination {
  display: flex;
  padding-left: 3rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
  font-size: 0.8rem;
  font-weight: 800;
  gap: 1rem;
}
.h2 {
  font-weight: 800;
  padding-left: 12rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 1450px) {
  .Service {
    max-width: 420px;
  }
}
@media (max-width: 1200px) {
  .Service {
    max-width: 350px;
  }
  .category {
    font-size: 1rem;
  }
}
@media (max-width: 1000px) {
  .Service {
    max-width: 300px;
  }
  .option {
    line-height: 1.2rem;
  }
  .percent {
    font-size: 0.8rem;
  }
  .red {
    font-size: 0.7rem;
  }
  .votes {
    font-size: 0.7rem;
  }
  .category {
    font-size: 0.7rem;
  }
  .h2 {
    font-size: 0.8rem;
    padding-left: 0rem;
  }
  .barchart {
    font-size: 0.7rem;
    height: 250px;
  }
}

@media (max-width: 800px) {
  .option {
    line-height: 1rem;
  }
  .red {
    font-size: 0.5rem;
  }
  .percent {
    font-size: 0.6rem;
  }
  .votes {
    font-size: 0.5rem;
  }
  .category {
    width: 90%;
    font-size: 0.4rem;
  }
  .h2 {
    font-size: 0.6rem;
  }
  .barchart {
    font-size: 0.5rem;
    width: 100%;
    height: 220px;
  }
  .businessListPagination {
    font-size: 0.5rem;
    gap: 0.5rem;
  }
}
@media (max-width: 600px) {
  .Service {
    max-width: 300px;
  }
  .option {
    padding-left: 2.5rem;
    line-height: 0.8rem;
  }
  .red {
    font-size: 0.4rem;
  }
  .percent {
    font-size: 0.4rem;
  }
  .votes {
    font-size: 0.4rem;
  }
  .category {
    width: 80%;
    font-size: 0.25rem;
  }
  .h2 {
    font-size: 0.5rem;
  }
  .barchart {
    font-size: 0.4rem;
    width: 120%;
    height: 200px;
  }
  .businessListPagination {
    font-size: 0.3rem;
    padding-left: 1rem;
    gap: 0.2rem;
  }
}

@media (max-width: 420px) {
  .Service {
    max-width: 300px;
  }
  .option {
    justify-content: center;
    padding-left: 2rem;
    line-height: 0.4rem;
  }
  .red {
    font-size: 0.3rem;
  }
  .percent {
    width: 1%;
    font-size: 0.3rem;
  }
  .votes {
    width: 1%;
    font-size: 0.3rem;
  }
  .category {
    width: 30%;
    font-size: 0.3rem;
  }
  .h2 {
    font-size: 0.25rem;
  }
  .barchart {
    font-size: 0.25rem;
    width: 110%;
    height: 160px;
  }
  .businessListPagination {
    font-size: 0.25rem;
    padding-left: 1rem;
    gap: 0.2rem;
  }
}
