.aboutus {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #fff;
  border-radius: 8px;
  margin-top: 20px;
  padding: 7rem;
  &:hover {
    transform: translateY(-10px);
    box-shadow: rgba(86, 20, 208, 0.25) 5px 5px 15px;
  }
}
.musu {
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 900;
  color: #a59c9c;
}
.musuUp {
  font-size: 2rem;
  font-weight: 900;
  color: #a59c9c;
  line-height: 3rem;
}
.musuDown {
  font-size: 2rem;
  font-weight: 900;
  color: #a59c9c;
  line-height: 3rem;
}
.aboutus h1 {
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 3rem;
  color: #a59c9c;
  margin-bottom: 20px;
}

.aboutus ul {
  width: 30%;
  padding-bottom: 2rem;
  color: $primary-color;
  font-weight: 900;
  padding-left: 20px;
  line-height: 2rem;
  font-size: 1.5rem;
}

.aboutus ul li {
  margin-bottom: 10px;
}
.middle {
  display: flex;
}
.middle img {
  height: 13rem;
  border-radius: 1rem;
  margin-right: 1.2rem;
  width: 20%;
}
@media (max-width: 1450px) {
  .middle img {
    height: 8rem;
    border-radius: 1rem;
    margin-right: 0.6rem;
    width: 20%;
  }
  .middle {
    gap: 0.5rem;
  }
  .aboutus ul {
    width: 35%;
    padding-left: 0px;
    line-height: 1rem;
  }
  .aboutus ul li {
    line-height: 1.7rem;
  }
}
@media (max-width: 1200px) {
  .aboutus ul {
    font-size: 1.2rem;
    width: 45%;
    padding-left: 0px;
    line-height: 0.5rem;
  }
  .musuUp {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .musuDown {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .middle img {
    height: 6rem;
    border-radius: 0.7rem;
    margin-right: 0rem;
    width: 20%;
  }
  .aboutus ul li {
    margin-bottom: 0 px;
    line-height: 1.2rem;
  }
}
@media (max-width: 1000px) {
  .aboutus ul {
    font-size: 1rem;
    width: 45%;
    padding-left: 0px;
  }
  .aboutus ul li {
    margin-bottom: 0 px;
    line-height: 0.8rem;
  }
  .musuUp {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .musuDown {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .middle img {
    height: 4rem;
    border-radius: 0.7rem;
    margin-right: 0rem;
    width: 15%;
  }
}

@media (max-width: 800px) {
  .aboutus {
    padding: 4rem;
  }
  .aboutus ul {
    padding-bottom: 0.8rem;
    font-size: 0.7rem;
    width: 45%;
  }

  .aboutus h1 {
    padding-bottom: 0rem;
    font-size: 1.5rem;
  }
  .musu {
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.4rem;
  }
  .aboutus ul li {
    margin-bottom: 0 px;
    line-height: 0.8rem;
  }
  .musuUp {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .musuDown {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .middle img {
    height: 3rem;
    border-radius: 0.5rem;
    margin-right: 0rem;
    width: 15%;
  }
}
@media (max-width: 600px) {
  .aboutus {
    padding: 2rem;
  }
  .aboutus ul {
    padding-bottom: 0.8rem;
    font-size: 0.5rem;
    width: 45%;
  }

  .aboutus h1 {
    padding-bottom: 0rem;
    font-size: 1.2rem;
  }
  .musu {
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  .aboutus ul li {
    margin-bottom: 0 px;
    line-height: 0.4rem;
  }
  .musuUp {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .musuDown {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .middle img {
    height: 2rem;
    border-radius: 0.3rem;
    margin-right: 0rem;
    width: 15%;
  }
}
@media (max-width: 420px) {
  .aboutus {
    padding: 1rem;
  }
  .aboutus ul {
    padding-bottom: 0.5rem;
    font-size: 0.4rem;
    width: 45%;
  }

  .aboutus h1 {
    padding-bottom: 0rem;
    font-size: 0.8rem;
  }
  .musu {
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    font-size: 0.8rem;
  }
  .aboutus ul li {
    margin-bottom: 0 px;
    line-height: 0.2rem;
  }
  .musuUp {
    font-size: 0.5rem;
    line-height: 0.7rem;
  }
  .musuDown {
    font-size: 0.5rem;
    line-height: 0.7rem;
  }
  .middle img {
    height: 1.5rem;
    border-radius: 0.3rem;
    margin-right: 0rem;
    width: 15%;
  }
}
