.title {
    font-size: 1.2rem;
    margin: 2rem 0rem;
  }
  @media (max-width: 600px) {
    .title {
      font-size: 0.8rem;
      margin: 2rem 0rem;
    }
  }
  @media (max-width: 420px) {
    .title {
      font-size: 0.6rem;
      margin: 1.2rem 0rem;
    }
  }