.accountContainer {
  display: flex;
  gap: 2.75rem;
}
.centerContainer {
  background: rgba(255, 255, 255, 0.8)
    url(https://t4.ftcdn.net/jpg/03/06/99/87/240_F_306998742_5awR6uVsZ8dRNdHHnj0tnm4sGUDBAxQ5.jpg);
  background-blend-mode: overlay;
  border-radius: 10px;
  height: 72vh;
  width: 65%;
}
li {
  font-weight: 700;
  list-style: none;
  line-height: 3rem;
}
.h1 {
  padding-left: 40rem;
  color: rgb(133, 131, 127);
  margin-bottom: 2rem;
  font-size: 2rem;
}
.userName {
  color: $primary-color;
  font-size: 2.5rem;
}
aside li {
  font-size: 1.2rem;
}
.rightContainer {
  width: 20%;
}
.bookingList {
  background-color: rgb(244, 244, 244);
  line-height: 1.5rem;
  border: 2px solid #e6dcfd;
  padding: 0.5rem;
  margin-bottom: 10px;
  border-radius: 5px;
  &:hover {
    transform: translateY(-10px);
    box-shadow: rgba(86, 20, 208, 0.25) 5px 5px 15px;
  }
}
.name {
  font-weight: 700;
  padding-right: 15px;
}
.category {
  color: $primary-color;
}
.date {
  font-weight: 700;
  padding-right: 10px;
}
.time {
  font-weight: 700;
  padding-right: 15px;
}
.h2 {
  font-size: 1.3rem;
  padding-bottom: 2rem;
  span {
    color: $primary-color;
    font-weight: 800;
  }
}
.status {
  color: red;
}
.confirmText {
  color: rgb(5, 248, 30);
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 5rem;
}
.myAccountPagination {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
}
.noResults {
  color: rgb(255, 64, 0);
}
@media (max-width: 1850px) {
  .accountContainer {
    gap: 2.5rem;
  }
  aside li {
    font-size: 1rem;
  }
  .centerContainer {
    width: 62%;
  }
  .rightContainer {
    width: 21%;
  }
  .h1 {
    padding-left: 30rem;
  }
}
@media (max-width: 1450px) {
  .accountContainer {
    gap: 1.8rem;
  }
  aside li {
    font-size: 0.9rem;
  }
  .centerContainer {
    width: 56%;
    height: 70vh;
  }
  .rightContainer {
    width: 25%;
  }
  .h1 {
    padding-left: 25rem;
  }
  .category {
    font-size: 0.8rem;
  }
  .status {
    font-size: 0.8rem;
  }
  .name {
    font-size: 0.9rem;
  }
  .date {
    font-size: 0.9rem;
  }
  .time {
    font-size: 0.9rem;
  }
  .h2 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .bookingList {
    line-height: 1.2rem;
    padding: 0.4rem;
    margin-bottom: 8px;
  }
}
@media (max-width: 1200px) {
  .accountContainer {
    gap: 1.8rem;
  }
  aside li {
    line-height: 1.6rem;
    font-size: 0.8rem;
  }
  .centerContainer {
    width: 60%;
    height: 60vh;
  }
  .rightContainer {
    width: 20%;
  }
  .userName {
    font-size: 2rem;
  }
  .h1 {
    padding-left: 20rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  .category {
    font-size: 0.6rem;
  }
  .status {
    font-size: 0.6rem;
  }
  .name {
    padding-right: 8px;
    font-size: 0.6rem;
  }
  .date {
    padding-right: 8px;
    font-size: 0.6rem;
  }
  .time {
    padding-right: 8px;
    font-size: 0.6rem;
  }
  .h2 {
    font-size: 1rem;
    padding-bottom: 0.8rem;
  }
  .myAccountPagination {
    padding-top: 0.7rem;
    gap: 0.5rem;
    font-size: 0.6rem;
  }
  .bookingList {
    line-height: 0.8rem;
    padding: 0.3rem;
    margin-bottom: 6px;
    border-radius: 4px;
  }
}
@media (max-width: 1000px) {
  .accountContainer {
    gap: 1.5rem;
  }
  aside li {
    line-height: 1.6rem;
    font-size: 0.6rem;
  }
  .centerContainer {
    width: 60%;
    height: 60vh;
  }
  .rightContainer {
    width: 20%;
  }
  .userName {
    font-size: 1.7rem;
  }
  .h1 {
    padding-left: 15rem;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
  }
  .category {
    font-size: 0.5rem;
  }
  .status {
    font-size: 0.5rem;
  }
  .name {
    padding-right: 8px;
    font-size: 0.5rem;
  }
  .date {
    padding-right: 8px;
    font-size: 0.5rem;
  }
  .time {
    padding-right: 8px;
    font-size: 0.5rem;
  }
  .h2 {
    font-size: 0.8rem;
    padding-bottom: 0.8rem;
  }
  .myAccountPagination {
    padding-top: 0.6rem;
    gap: 0.3rem;
    font-size: 0.5rem;
  }
  .bookingList {
    line-height: 0.8rem;
    padding: 0.3rem;
    margin-bottom: 6px;
    border-radius: 4px;
  }
}
@media (max-width: 800px) {
  .accountContainer {
    gap: 1rem;
  }
  aside li {
    line-height: 1.1rem;
    font-size: 0.5rem;
  }
  .centerContainer {
    width: 55%;
    height: 60vh;
  }
  .rightContainer {
    width: 23%;
  }
  .userName {
    font-size: 1.4rem;
  }
  .h1 {
    padding-left: 10rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .category {
    font-size: 0.4rem;
  }
  .status {
    font-size: 0.4rem;
  }
  .name {
    padding-right: 6px;
    font-size: 0.4rem;
  }
  .date {
    padding-right: 7px;
    font-size: 0.4rem;
  }
  .time {
    padding-right: 7px;
    font-size: 0.4rem;
  }
  .h2 {
    font-size: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .myAccountPagination {
    padding-top: 0.4rem;
    gap: 0.2rem;
    font-size: 0.35rem;
  }
  .bookingList {
    border: 1px solid #e6dcfd;
    line-height: 0.4rem;
    padding: 0.2rem;
    margin-bottom: 5px;
    border-radius: 3px;
  }
}
@media (max-width: 600px) {
  .accountContainer {
    gap: 0.5rem;
  }
  aside li {
    line-height: 0.8rem;
    font-size: 0.35rem;
  }
  .centerContainer {
    border-radius: 5px;
    width: 50%;
    height: 60vh;
  }
  .rightContainer {
    width: 25%;
  }
  .userName {
    font-size: 1rem;
  }
  .h1 {
    padding-left: 5rem;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
  }
  .category {
    font-size: 0.28rem;
  }
  .status {
    font-size: 0.28rem;
  }
  .name {
    padding-right: 3px;
    font-size: 0.28rem;
  }
  .date {
    padding-right: 4px;
    font-size: 0.28rem;
  }
  .time {
    padding-right: 4px;
    font-size: 0.28rem;
  }
  .h2 {
    font-size: 0.4rem;
    padding-bottom: 0.4rem;
  }
  .myAccountPagination {
    padding-top: 0.2rem;
    gap: 0.15rem;
    font-size: 0.25rem;
  }
  .bookingList {
    border: 1px solid #e6dcfd;
    line-height: 0.3rem;
    padding: 0.1rem;
    margin-bottom: 4px;
    border-radius: 2.5px;
  }
}
@media (max-width: 420px) {
  .accountContainer {
    gap: 0.3rem;
  }
  aside li {
    line-height: 0.5rem;
    font-size: 0.25rem;
  }
  .centerContainer {
    border-radius: 5px;
    width: 45%;
    height: 60vh;
  }
  .rightContainer {
    width: 32%;
  }
  .userName {
    font-size: 0.8rem;
  }
  .h1 {
    padding-left: 4rem;
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
  }
  .category {
    font-size: 0.25rem;
  }
  .status {
    font-size: 0.25rem;
  }
  .name {
    padding-right: 3px;
    font-size: 0.25rem;
  }
  .date {
    padding-right: 4px;
    font-size: 0.25rem;
  }
  .time {
    padding-right: 4px;
    font-size: 0.25rem;
  }
  .h2 {
    font-size: 0.3rem;
    padding-bottom: 0.3rem;
  }
  .myAccountPagination {
    padding-top: 0.2rem;
    gap: 0.1rem;
    font-size: 0.2rem;
  }
  .bookingList {
    border: 1px solid #e6dcfd;
    line-height: 0.2rem;
    padding: 0.15rem;
    margin-bottom: 2px;
    border-radius: 2px;
  }
}
