.icon {
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 24px;
    height: 24px;
  }
  @media (max-width: 1000px) {
    .icon {
      mask-size: 90%;
     
    }
  }
  @media (max-width: 800px) {
    .icon {
      mask-size: 70%;
     
    }
  }